[submodule "website"]
	path = website
	url = git@github.com:fireact-dev/website.git
	branch = main
[submodule "saas-demo"]
	path = saas-demo
	url = git@github.com:fireact-dev/saas-demo.git
[submodule "saas-code"]
	path = saas-code
	url = git@github.com:fireact-dev/saas.git
[submodule "core-code"]
	path = core-code
	url = git@github.com:fireact-dev/core.git